<div style="height: 100%; margin-top: -60px; margin-left: -10px; margin-right:-10px; background-color: black;">
	<div class="center jumbotron">
		<%= image_tag "intro.jpg", class: "intro" %>
		<div class="introflash">
			<%= render 'layouts/flash' %>
		</div>
		<div class="introcontent">
			<h1>Welcome to Sauce Kitchen</h1>
			<p>A damn fine music exploration and collaboration application built for you!</p>
			<% if current_user.nil? %>
				<%= link_to "Sign Up and Start Cookin' Beats", signup_path, class: "btn btn-primary btn-lg" %>
				<p class="alreadylogged"> Already have an account? Log in <%= link_to "here", login_path %> </p>
			<% else %>
				<%= link_to "Go to Profile and Start Cookin' Beats!", current_user, class: "btn btn-primary btn-lg" %>
			<% end %>
		</div>
		<div class="saucinlogo">
			<%= image_tag "saucinwhitethumb.png" %>
		</div>
	</div>
</div>
