<div class="center">
	<% if (@user && (@user.id == @playlist_owner.id)) %>
		<h1 id="title" class="ds"><%= dynaspan_text_field(@playlist, :title) %></h1>
	<% else %>
		<h1 id="title" class="nds"><%= @playlist.title %></h1>
	<% end %>
</div>

<div id="queuedSongs">
	<ul id="queuedSongsList">
		<% @playlist.psongs.each do |psong| %>
			<% if psong.queued %>
				<li upvotes="<%=psong.upvotes%>" songid="<%=psong.song_id%>"><%= psong.song.name %>: <%= psong.upvotes %></li>
			<% end %>
		<% end %>
	</ul>
</div>

<div id="waitingSongs">
	<ul id="waitingSongsList">
		<% @playlist.psongs.each do |psong| %>
			<% if !psong.queued %>
				<li upvotes="<%=psong.upvotes%>" songid="<%=psong.song_id%>"><%= psong.song.name %>: <%= psong.upvotes %></li>
			<% end %>
		<% end %>
	</ul>
</div>

<script type="text/javascript">
	//grab the user id to validate user
	var id = "<%= @playlist.id %>";
	var uid = "<%= session[:user_id] %>"

	//initial sort
	sortByUpvotes('queuedSongsList');
	sortByUpvotes('waitingSongsList');

	//initialize polling for playlist updates
	window.setInterval(function(){
  		pollPlaylist(id,uid);
}, 5000);
</script>
