<div class="center">
	<% if (@user && (@user.id == @playlist_owner.id)) %>
		<h1 id="title" class="ds"><%= dynaspan_text_field(@playlist, :title) %></h1>
	<% else %>
		<h1 id="title" class="nds"><%= @playlist.title %></h1>
	<% end %>
</div>

<div id="songDiv">
	<ul id="songList">
		<% @playlist.songs.each do |song| %>
			<li songid="<%=song.id%>"><%= song.title %></li>
		<% end %>
	</ul>
</div>

<script type="text/javascript">
	var pathArr = window.location.pathname.split('/');
	var id = pathArr[pathArr.length - 1];
	var uid = "<%= session[:user_id] %>"
	console.log(uid);

	window.setInterval(function(){
  		pollPlaylist(id,uid);
}, 5000);
</script>
