<div class="center">
  <h1 id="title" class="nds"><%= @playlist.title %></h1>
  <% if @isLiked %>
    <%= image_tag "redheart.png", id: "heart" %>
  <% else %>
    <%= image_tag "clearheart.png", id: "heart" %>
  <% end %>
  <div id="nlikes"><%= @likes %> likes</div>
  <button id="activate" class="btn btn-success">Activate Playlist</button>
	<button id="reset" class="btn btn-danger hidden">Deactivate Playlist</button>
</div>

<%= render 'player' %>

<!-- Modal -->
<div id="addSongModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Find your Jam</h4>
      </div>
      <div class="modal-body">
      	<div class="form-group row">
  					<div class="col-xs-10">
   						 <input id="songSearch" class="form-control" type="search" placeholder="Search for song/artist...">
  					</div>
				</div>
				<ul id="songSearchResults">
  			</ul>
        <button type="button" onclick="changeTextInModal();" class="btn btn-default">Search</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script>
  $(document).ready(function(){
    $("#heart").click(function(){
      console.log("Heart clicked");
      clickHeart(<%= @playlist.id %>);
    });    
  });
</script>

<div id="queuedSongs" style="padding-top:10px;">
	<ul id="queuedSongsList">
		<% @playlist.psongs.each do |psong| %>
			<% if psong.queued && !psong.played %>
				<li upvotes="<%=psong.upvotes%>" songid="<%=psong.song_id%>"><%= psong.song.name %>
					<button onclick="upvoteClick(this);" class="upvote-icon">
            <span class="glyphicon glyphicon glyphicon-chevron-up"><%= psong.upvotes %></span>
        	</button>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>

<div id="waitingSongs">
	<ul id="waitingSongsList">
		<% @playlist.psongs.each do |psong| %>
			<% if !psong.queued && !psong.played %>
				<li upvotes="<%=psong.upvotes%>" songid="<%=psong.song_id%>"><%= psong.song.name %>
					<button onclick="upvoteClick(this);" class="upvote-icon">
            <span class="glyphicon glyphicon glyphicon-chevron-up"><%= psong.upvotes %></span>
        	</button>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>

<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addSongModal">Suggest Song</button>

<script type="text/javascript">
//player init
	function onPlayerLoaded() {
    DZ.Event.suscribe('track_end', function(arg){
    	playNextSong("<%= @playlist.id %>");
    });

	  $("#activate").click(function(){
	    $("#player").show();
	    $("#reset").removeClass('hidden');
	    $("#activate").addClass('hidden');
	    playNextSong("<%= @playlist.id %>");
		});

		$("#reset").click(function(){
	    $("#player").hide();
	    $("#activate").removeClass('hidden');
	    $("#reset").addClass('hidden');
	    resetPlaylist("<%= @playlist.id %>");
	    DZ.player.pause();
		});
  }

  DZ.init({
    appId  : '211642',
    channelUrl : 'http://35.161.98.140/pages/channel.html',
    player : {
      container : 'player',
      cover : true,
      playlist : true,
      width : 650,
      height : 100,
      onload : onPlayerLoaded
    }
  });

  //adding listeners for upvote clicks
  function upvoteClick(element){
  	var upvotes = parseInt($(element).parent().attr("upvotes"));
  	var songid = $(element).parent().attr("songid");
  	upvotes += 1;
  	console.log(upvotes);
  	$(element).parent().attr("upvotes", upvotes);
  	$(element).html("<span class='glyphicon glyphicon glyphicon-chevron-up'>" + upvotes + "</span>");
  	$.get('/playlists/' + "<%= @playlist.id %>" + "/upvote/" + songid, function(){
  		console.log("request succesful");
  	});
  }

  //queueing/waiting list logic
	//grab the user id to validate user
	var id = "<%= @playlist.id %>";
	var uid = "<%= session[:user_id] %>"

	//initial sort
	sortByUpvotes('queuedSongsList');
	sortByUpvotes('waitingSongsList');

	//initialize polling for playlist updates
	window.setInterval(function(){
  		pollPlaylist(id,uid);
}, 5000);

function changeTextInModal(){
	var searchString = $('#songSearch').val();
	searchDeezer(searchString);
}
</script>
